In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('finalLLLL.csv')

In [3]:
#data.head(100)

In [4]:
dataD= pd.DataFrame()
dataD = data.loc[(data['feature_type'] =='mutation disrupting rate(MI:1129)') | 
                 (data['feature_type'] =='mutation increasing(MI:0382)') |
              ( data['feature_type'] =="mutation increasing rate(MI:1131)") |
                 (data['feature_type'] =="mutation with no effect(MI:2226)") |
                (data['feature_type']=="mutation disrupting strength(MI:1128)")|
               (data['feature_type']=="mutation disrupting(MI:0573)")|
               (data['feature_type']=="mutation increasing strength(MI:1132)")]

In [5]:
for i in range(len(dataD)):mutation disrupting rate(MI:1129)
    if(dataD.iloc[i,1]=='mutation disrupting rate(MI:1129)' or dataD.iloc[i,1]=='mutation disrupting strength(MI:1128)'
      or dataD.iloc[i,1]=='mutation disrupting rate(MI:1129)'):
        dataD.iloc[i,1]=0
    if(dataD.iloc[i,1]=='mutation increasing rate(MI:1131)' or 
       dataD.iloc[i,1]=='mutation increasing strength(MI:1132)' or 'mutation increasing(MI:0382)'
       or dataD.iloc[i,1]=='mutation with no effect(MI:2226)':
        dataD.iloc[i,1]=1
dataD.to_csv('deneme123.csv')

SyntaxError: invalid syntax (<ipython-input-5-55b281e65603>, line 1)

In [61]:
dataD = dataD.select_dtypes(include=np.number)
x = dataD[dataD.columns[np.concatenate([range(0,38),range(39,79)])]]
y = dataD.iloc[:,1:2:]

IndexError: index 2 is out of bounds for axis 1 with size 2

In [32]:
dataD

      Unnamed: 0  feature_type
15            19             0
16            20             0
17            21             0
18            22             0
19            23             0
37            49             0
38            50             0
68            88             0
69            90             0
70            92             0
71            93             0
72            94             0
73            95             0
116          145             0
125          158             0
126          160             0
127          161             0
128          162             0
129          164             0
130          165             0
131          166             0
132          167             0
133          168             0
309          391             0
310          392             0
311          393             0
312          394             0
313          395             0
314          396             0
315          397             0
...          ...           ...
4468        5698             0
4469        5699             0
4470        5700             0
4475        5708             0
4478        5713             0
4479        5714             0
4480        5715             0
4481        5716             0
4482        5717             0
4483        5718             0
4484        5719             0
4485        5720             0
4486        5721             0
4487        5722             0
4488        5723             0
4489        5724             0
4490        5725             0
4491        5726             0
4492        5727             0
4500        5738             0
4581        5843             1
4582        5845             1
4583        5846             1
4621        5894             0
4622        5895             0
4623        5896             0
4624        5897             0
4666        5945             1
4667        5946             1
4668        5947             1

[2281 rows x 2 columns]